<html>
<div style="padding: 2vw;  background-color: rgb(255, 255, 242); max-width: 500px;">

    <div style="padding: 2vw; background: rgb(255, 255, 196); border-radius: 10px; margin: auto;">
        <div style="width: fit-content; height: fit-content; margin: auto;">
            <img src="https://res.cloudinary.com/dzuq9e15n/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1698989085/logo_1_cs0h07.jpg"
                style="width: 146px; height:70px; text-align:center; object-fit: contain;" alt="">
        </div>
    </div>
    <!-- <div style="width: fit-content;"> -->

    <body style=" font-family: sans-serif; font-size: 15px; color: rgb(0, 20, 44);">
        <h1 style="font-size: 20px; font-weight: bold; text-align: center; color: rgb(0, 0, 0); text-transform: capitalize;">TCB PAYMENT
            APPROVAL</h1>
        <p style="margin-top: 12px; margin-bottom: 12px;">
            Dear {{--client-name--}}
        </p>
        <p style="margin-top: 12px; margin-bottom: 12px;">
            I hope this email finds you well.
            We wanted to send you an email for confirming that your invoice has been paid.
        </p>
        <p style="margin-top: 12px; margin-bottom: 12px;">
            We appreciate your promptness in the past, and we kindly
            request that you keep paying before due dates to ensure there are no disruptions to your
            tenancy.
        </p>
        <p style="margin-top: 12px; margin-bottom: 12px;">
            Thank you for your cooperation, and we look forward to
            continuing our positive landlord-tenant relationship.
        </p>
        <p style="margin-top: 12px; margin-bottom: 12px;">
            Wishing you a pleasant day, and please do not hesitate to reach out if you require any assistance.
        </p>
        <p style="margin-top: 12px; margin-bottom: 12px;">
            Best regards,
        </p>
        <footer style="font-weight: bold;">
            Kabanda Dieudonne <br>
            +250 788 397 6679
        </footer>

        <p style="text-align: center; font-size: 12px; font-weight: bold; opacity: 50%;">This email is automatically
            generated. If anything seems wrong or not understandable, contact the numbers above for help!</p>

    </body>
    <!-- </div> -->
</div>

</html>